body {
  width: 300px;
  font-size: 14px;
  word-break: break-all;
}

ul {
  list-style: none;
  padding: 0 15px;
}

li {
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: #0052cc;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
  padding: 0 5px;
  width: 16px;
  height: 16px;
}

img:hover {
  cursor: pointer;
}

span {
  font-size: 11px;
  color: #f05f00cc;
}

#report-an-issue {
  color: gray;
  font-size: 12px;
  float: right;
  margin: 3px;
}
