body {
  width: 300px;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0 15px;
}

li {
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: #0052cc;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
  padding: 0 5px;
  width: 16px;
  height: 16px;
}