#status-bar {
    display: flex;
    list-style-type: none;
    padding: 5px 0;
    height: 15px;
    background-color: white;
    width: 100%;
}

#status-bar li {
    padding: 0 5px;
    color: gray;
    font-size: 12px;
}

#status-bar a {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

#status-bar li:hover {
    color: black;
}

#status-bar #count {
    padding-left: 15px;
    color: #f05f00cc;
    cursor: default;
    letter-spacing: 1px;
    margin-right: auto; /* Push other items to the end. */
}

#history {
    cursor: pointer;
    user-select: none;
}

#history.highlight {
    color: green;
    background-color: #99EDC3;
    border-radius: 20px;
    transition: background-color 0.3s linear;
}

#status-bar #feedback {
    margin-right: 10px;
}

@media screen and (prefers-color-scheme: dark) {
    #status-bar {
        background-color: #202124;
    }

    #status-bar li:hover {
        color: #FAFCFE;
    }

    #status-bar #count {
        color: #f05f00;
    }

    #history.highlight {
        color: #FAFCFE;
        text-shadow: 0 0 2px #00FF41, 0 0 3px #008F11, 0 0 4px #003B00, 0 0 5px #0D0208;
        background-color: transparent;
    }
}
