#status-bar {
    display: flex;
    list-style-type: none;
    padding: 5px 0;
    height: 15px;
    background-color: white;
    width: 100%;
}

#status-bar li {
    padding: 0 5px;
    color: gray;
    font-size: 12px;
}

#status-bar a {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

#status-bar li a:hover {
    color: black;
}

#status-bar #count {
    padding-left: 15px;
    color: #f05f00cc;
    cursor: default;
    letter-spacing: 1px;
    margin-right: auto; /* Push other items to the end. */
}

#status-bar img {
    width: 16px;
}

#status-bar #info {
    margin-right: 10px;
}

@media screen and (prefers-color-scheme: dark) {
    #status-bar {
        background-color: #202124;
    }

    #status-bar li a:hover {
        color: #FAFCFE;
    }

    #status-bar #count {
        color: #f05f00;
    }

    #status-bar img {
        /* #adbac7 */
        filter: invert(78%) sepia(17%) saturate(217%) hue-rotate(169deg) brightness(92%) contrast(89%);
    }
}
