body {
    font: 14px system-ui, sans-serif;
}

#features {
    margin-left: 10px;
}

.inputs {
    display: flex;
    margin: 15px 0;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

small {
    display: block;
    color: gray;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #292a2d;
    }

    #features {
        color: #e8eaed;
    }

    label {
        color: #abb2bf;
    }
}
