* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    font-size: 14px;
}

#reading-list {
    list-style: none;
    padding-top: 10px;
}

#reading-list li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    line-height: 30px;
}

#reading-list li:focus {
    outline: none;
    background-color: #c8c8c9;
}

#reading-list a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #202124;
    cursor: default;
}

#reading-list a:focus {
    outline: none;
}

#reading-list img {
    margin-right: 8px;
    padding: 1px;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    cursor: pointer;
}

/* Set a fallback on img error */
/* https://stackoverflow.com/a/980948/9984029 */
#reading-list img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    background-image: url("../assets/icons/logo-black32x32.png");
    background-size: 16px 16px;
}

#reading-list .position {
    font-size: 12px;
    font-weight: 500;
    color: #f05f00cc;
    padding-left: 5px;
    cursor: default;
}

#status-bar a {
    color: gray;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

#feedback {
    padding: 5px;
}

#reading-list-count {
    align-self: flex-start;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #202124;
    }

    #reading-list li:hover {
        background-color: #37383a;
    }

    #reading-list li:focus {
        background-color: #444547;
    }

    #reading-list a {
        color: #e0eaed;
    }

    #reading-list .position {
        color: #f05f00;
    }
}
