* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    font-size: 14px;
}

#reading-list {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 24px;
}

::-webkit-scrollbar {
    display: none;
}

#reading-list li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    line-height: 30px;
}

#reading-list li.active {
    background-color: #c8c8c9;
}

#reading-list a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #202124;
    cursor: default;
}

#reading-list img {
    margin-right: 8px;
    padding: 1px;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    cursor: pointer;
}

/* Set a fallback on img error */
/* https://stackoverflow.com/a/980948/9984029 */
#reading-list img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    background-image: url("../assets/icons/logo-black32x32.png");
    background-size: 16px 16px;
}

#reading-list .position {
    font-size: 12px;
    font-weight: 500;
    color: #f05f00cc;
    padding-left: 5px;
    cursor: default;
}

#status-bar {
    display: flex;
    list-style-type: none;
    padding: 5px;
    height: 15px;
    /*Fix status bar*/
    position: fixed;
    bottom: 0;
    background-color: white; /* Hide contents under status bar */
    width: 100%; /* Make the status bar full width */
}

#status-bar li {
    padding: 0 5px;
    color: gray;
    font-size: 12px;
}

#status-bar a {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

#status-bar #count {
    padding-left: 15px;
    color: #f05f00cc;
    cursor: default;
    letter-spacing: 1px;
    margin-right: auto; /* Push other items to the end. */
}

#status-bar #feedback {
    margin-right: 10px;
}

@media screen and (prefers-color-scheme: dark) {
    html,
    #status-bar {
        background-color: #202124;
    }

    #reading-list li.active {
        background-color: #444547;
    }

    #reading-list a {
        color: #e0eaed;
    }

    #reading-list .position,
    #status-bar #count {
        color: #f05f00;
    }
}
