* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    font-size: 14px;
    hyphens: auto;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    line-height: 30px;
}

li:first-child {
    margin-top: 10px;
}

li:hover {
    cursor: pointer;
    background-color: #c8c8c9;
}

a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #0052cc;
}

img {
    margin-right: 8px;
    padding: 1px;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
}

.position {
    font-size: 12px;
    font-weight: 500;
    color: #f05f00cc;
}

#report-an-issue {
    padding: 5px;
    color: gray;
    font-size: 12px;
    float: right;
    margin: 3px;
}

@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #292a2de1;
    }

    li:hover {
        background-color: #66666666;
    }

    img:hover {
        background-color: cyan;
        border-radius: 100%;
        cursor: pointer;
    }

    a {
        color: #00cc9e;
    }

    .position {
        color: #f05f00;
    }
}
