#status-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    list-style-type: none;
    padding: 6px 12px;
    height: 32px;
    background-color: white;
    width: 100%;
}

#status-bar li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0;
    color: gray;
    font-size: 12px;
}

#status-bar a {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

#status-bar li a:hover {
    color: black;
}

#status-bar #count {
    color: #f05f00cc;
    cursor: default;
    letter-spacing: 1px;
    margin-right: auto; /* Push other items to the end. */
}

#status-bar img {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#status-bar #history.highlight {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* #30a14e */
    filter: invert(48%) sepia(88%) saturate(387%) hue-rotate(84deg) brightness(90%) contrast(83%);
}

#status-bar #question {
    margin-right: 0;
}

@media screen and (prefers-color-scheme: dark) {
    #status-bar {
        background-color: #202124;
    }

    #status-bar li a:hover {
        color: #FAFCFE;
    }

    #status-bar #count {
        color: #f05f00;
    }

    #status-bar img {
        /* #adbac7 */
        filter: invert(78%) sepia(17%) saturate(217%) hue-rotate(169deg) brightness(92%) contrast(89%);
    }

    #status-bar #history.highlight {
        /* #39d353 */
        filter: invert(57%) sepia(68%) saturate(394%) hue-rotate(79deg) brightness(98%) contrast(118%);
    }
}
