#status-bar {
    display: flex;
    list-style-type: none;
    padding: 5px;
    height: 15px;
    /* Fix status bar position at bottom */
    position: fixed;
    bottom: 0;
    background-color: white; /* Hide contents under status bar */
    width: 100%; /* Make the status bar full width */
}

#status-bar li {
    padding: 0 5px;
    color: gray;
    font-size: 12px;
}

#status-bar a {
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

#status-bar #count {
    padding-left: 15px;
    color: #f05f00cc;
    cursor: default;
    letter-spacing: 1px;
    margin-right: auto; /* Push other items to the end. */
}

#status-bar #feedback {
    margin-right: 10px;
}

@media screen and (prefers-color-scheme: dark) {
    html,
    #status-bar {
        background-color: #202124;
    }

    #status-bar #count {
        color: #f05f00;
    }
}
